@page
@using MaterializeSignalR.Models
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Online Chat";
}
<ul id="slide-out" class="sidenav sidenav-fixed hide-on-small move-down">
    <li>
        <div class="card-panel grey lighten-5 z-depth-1 user-view center margin-top-0">
            <img id="userAvatarImage" class="circle image-avatar" src="~/@Model.Avatar">
            <span id="userName" class="black-text name non-selectable">@Model.Name</span>
            <span id="userMail" class="black-text email non-selectable padding-bottom-0">@Model.Email</span>
            <a href="#modalSettings" class="waves-effect waves-indigo btn btn-small indigo logout-button modal-trigger"><i class="material-icons right">settings</i>Account Settings</a>
        </div>
    </li>
</ul>
<div id="modalSettings" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-content">
        <h4 class="non-selectable">Account Settings</h4>
        <div class="row center non-selectable">
            <h5 class="setting-name indigo-text small-text">User name:</h5>
            <h5 class="setting-value small-text">@Model.Name</h5>
        </div>
        <div class="row center non-selectable">
            <h5 class="setting-name indigo-text small-text">Email:</h5>
            <h5 class="setting-value small-text">@Model.Email</h5>
        </div>
        <div class="row center non-selectable">
            <h5 class="setting-name indigo-text small-text">Color:</h5>
            <div class="setting-value">
                <div style="background-color: @Model.Color;" class="btn-floating cursor-default image-size-small modal-trigger"><i style="color: @Model.TextColor;" class="material-icons smaller-icon">color_lens</i></div>
            </div>
        </div>
        <div class="row center non-selectable">
            <h5 class="setting-name indigo-text small-text">Image:</h5>
            <div class="setting-value">
                <img class="responsive-img circle image-size-small image-avatar" src="~/@Model.Avatar">
            </div>
        </div>
        <div class="row center non-selectable">
            <a href="~/Logout" class="waves-effect waves-indigo btn btn-small indigo logout-button"><i class="material-icons right">exit_to_app</i>Logout</a>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-red btn-flat normal-letters">Close</a>
    </div>
</div>
<div class="chat-window">
    <div id="messages-scroll" class="messages-fixed">
        <div class="container">
            <ul id="chatMessages">
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="input-field col">
                <i class="material-icons prefix">message</i>
                <input id="message" type="text" class="message-input" disabled="disabled">
                <label class="label-without-pointer-events" for="message">Message</label>
                <a id="sendButton" class="btn-floating btn-large waves-effect waves-light indigo darken-4 send-button" disabled="disabled"><i class="material-icons">send</i></a>
            </div>
        </div>
    </div>
</div>
<script>
    setUsernameAndColor('@Model.Name', '@Model.Color', '@Model.TextColor');
</script>